@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-plus-jakarta-sans-variable: "Plus Jakarta Sans Variable";
  }
}

#root,
body {
  height: 100%;
  width: 100%;
}
